apiVersion: v1
kind: Service
metadata:
  name: node-todo-service
spec:
  selector:
    app: node-todo
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
      nodePort: 30080
  type: NodePort